* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://p.typekit.net/p.css?s=1&k=rwi3xjt&ht=tk&f=25310.25312.25318&a=86718367&app=typekit&e=css");

@font-face {
  font-family: "industry";
  src: url("https://use.typekit.net/af/44c438/00000000000000007735a64e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/44c438/00000000000000007735a64e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/44c438/00000000000000007735a64e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "industry";
  src: url("https://use.typekit.net/af/08fe52/00000000000000007735a650/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/08fe52/00000000000000007735a650/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/08fe52/00000000000000007735a650/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "industry";
  src: url("https://use.typekit.net/af/ddf216/00000000000000007735a656/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/ddf216/00000000000000007735a656/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("woff"),
    url("https://use.typekit.net/af/ddf216/00000000000000007735a656/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

p {
  font-family: unset;
}
.white {
  color: #fff;
}
$redColor: #b02109;
img {
  max-width: 100%;
}
ul {
  list-style: none;
  li {
    cursor: pointer;
  }
}
body {
  min-height: 100vh;
  position: relative;
}
@mixin centerFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__banner {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  position: relative;
  // overflow: hidden;

  video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .app__banner-overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    background: rgba($color: #000000, $alpha: 0.4);
    @include centerFlex();

    .logo {
      width: 90%;
      max-width: 375px;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .more__text {
      position: absolute;
      bottom: 0rem;
      width: 120px;
      font-size: 14px;
      text-align: center;
      padding-bottom: 100px;
      .more__space {
        position: relative;
        a {
          text-transform: uppercase;
          color: #d9d5d5;
          text-decoration: none;
          font-weight: bold;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -3.5rem;
          left: 50%;
          width: 2.5px;
          height: 2rem;
          background-color: rgb(207, 207, 210);
          transform: translateX(-50%);
        }
        &::before {
          content: "";
          position: absolute;
          bottom: -6.2rem;
          left: 50%;
          width: 1px;
          height: 3.5rem;
          background-color: rgb(176, 176, 179);
        }
      }
    }
  }
}

header {
  z-index: 2;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;

  .container {
    border-bottom: 1px solid;
    padding: 1rem;

    .navbar__brand {
      max-width: 80px;
      padding: 0.3rem 0;
    }
    .toggle__menu {
      display: none;
    }

    .navbar__list {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      .nav__list-item {
        a {
          text-decoration: none;
          color: #fff;
          transition: all 0.3s ease;
          &:hover {
            color: $redColor;
          }
        }
        font-family: "industry";

        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0.02rem;
      }
    }

    @media screen and (max-width: 1024px) {
      position: relative;
      .toggle__menu {
        display: block;
        cursor: pointer;
        svg {
          font-size: 1.5rem;
        }
      }
      .navbar__list {
        position: absolute;
        left: 0;
        top: 40%;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        width: 100%;
        height: 140%;
        background-color: rgba(19, 19, 19, 0.396);
        transition: all 0.4s ease;
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 0.5rem;
        padding: 1.5rem;
      }
      .navbar__list.toggle__menu-active {
        opacity: 1;
        visibility: visible;
        top: 100%;
        z-index: 1;
      }
    }
  }
}
.getInfo {
  z-index: 3;
  padding: 2rem 1rem;
  position: fixed;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  max-width: 0px;
  max-height: 100vh;
  overflow: auto;
  background-color: $redColor;
  color: #fff;
  transition: all 0.5s ease;

  h4 {
    font-weight: 500;
  }

  .closeBtn {
    text-align: right;

    button {
      cursor: pointer;
      outline: none;
      border: none;
      background: inherit;
      font-size: 0.8rem;
      font-family: "industry";
      text-transform: uppercase;
      color: #fff;
      font-weight: 300;
      margin-top: 0.5rem;
    }
  }
  form {
    div {
      margin: 1rem 0;
    }
    .message {
      position: relative;
      textarea {
        width: 100%;
        height: 4rem;
        resize: none;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid #fff;
        color: #fff;
        position: relative;
        padding: 0.8rem;
        &:focus {
          background-color: #31303061;
        }
      }
      label {
        position: absolute;
        top: 50%;
        left: 2%;
        transform: translateY(-50%);
        font-size: 1rem;
        transition: all 0.3s ease;
        pointer-events: none;
      }
    }

    .input__group {
      position: relative;
      height: 3rem;
      label {
        position: absolute;
        top: 50%;
        left: 2%;
        transform: translateY(-50%);
        font-size: 13px;
        transition: all 0.3s ease;
        pointer-events: none;
      }
      input {
        background-color: inherit;
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        border-bottom: 2px solid #fff;
        padding: 0.8rem;
        color: #fff;
        &:focus {
          background-color: #31303061;
        }
      }
    }
    p {
      font-size: 0.8rem;
      a {
        color: #fff;
      }
    }
    .btn-area {
      border-top: 1px solid #fff;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      .btn__active {
        color: #fff;
        background-color: #31303061;
        width: 100%;
        border: none;
        outline: none;
        padding: 0.5rem;
      }
      .disable__btn {
        pointer-events: none;
        background: transparent;
        border: none;
        outline: none;
      }
    }
  }
}
.getInfo.active {
  max-width: 500px !important;
  left: 0;
  transform: scaleX(1);
}
input:focus + label,
input:valid + label {
  top: 18% !important;
  font-size: 0.7rem !important;
}
textarea:focus + label,
textarea:valid + label {
  top: 18% !important;
  font-size: 0.7rem !important;
}

.scrolling-nav {
  background-color: #fff;
  box-shadow: 2px 2px 10px #9999;
  .toggle__menu {
    svg {
      font-size: 1.5rem;
      color: #000000;
    }
  }
  .navbar__list .nav__list-item a {
    color: #000000;
    &:hover {
      color: $redColor !important;
    }
  }

  @media screen and (min-width: 1024px) {
    .nav__list-item a {
      color: #000000 !important;
    }
    .getInfo__item a {
      color: $redColor !important;
    }
  }
}

// About Section

#about__section {
  // min-height: 100vh;

  .league_for_leisure {
    padding-top: 5rem;
    padding-bottom: 4rem;
    width: 100%;
    .big__title {
      text-align: left;

      .display-2 {
        font-family: "industry";
        line-height: 1.1;
        font-weight: 600;
        span {
          color: $redColor;
        }
      }
    }
    @media screen and (min-width: 990px) {
      padding-top: 9rem;
      padding-bottom: 7rem;
      .big__title {
        max-width: 60%;
      }
    }
  }
}

.showcase {
  .left_img {
    img {
      max-width: 100%;
    }
    margin-bottom: 1.8rem;
  }
  .in-row {
    .col-12:nth-child(1) {
      display: flex;
      justify-content: right;
      margin-bottom: 4.8rem;
      img {
        max-width: 90%;
      }
    }
    .col-12:nth-child(2) {
      @include centerFlex();
      // border: 1px solid red;
      img {
        max-width: 70%;
      }

      @media (min-width: 1024px) {
        padding: 1rem 0 0 5rem !important;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .in-row {
      .col-12:nth-child(1) {
        justify-content: center !important;
        margin-bottom: 0;
      }
      .col-12:nth-child(2) {
        padding-top: 0 !important;
      }
    }
    img {
      max-width: 100% !important;
    }
    .left_img {
      img {
        max-width: 90% !important;
      }
      @include centerFlex();
    }
  }
}

// page path title

.page__title {
  writing-mode: vertical-lr;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  transform: rotate(180deg);
  flex-direction: row-reverse;
  gap: 2rem;
  text-transform: uppercase;
  color: #b02109;
  font-size: 0.9rem;
  font-weight: 700;
  // letter-spacing: 0.3rem;
  img {
    max-height: 280px;
  }
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

// Experience

.experience {
  padding: 4.9rem 0 4rem;

  @media screen and (min-width: 1024px) {
    padding-bottom: 8rem;
  }
}
.exp__left-wrapper {
  @include centerFlex();
}
.exp__right-wrapper {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding: 0 !important;
  .exp__content {
    width: 100%;
    height: 100%;
    background: $redColor;
    // @include centerFlex();
    .exp__content-wrapper {
      padding-top: 3rem;
      padding-bottom: 2rem;
      padding-left: 5rem;
      width: 80%;
      color: #fff;
      h3 {
        font-family: "industry";
        font-weight: 600;
        font-size: 22px;
        line-height: 2.2rem;
      }
      p {
        width: 100%;
        font-size: 17px;
        line-height: 1.5;
      }
    }

    @media screen and (min-width: 1024px) {
      width: 90%;
      height: 90%;
      .exp__content-wrapper {
        padding-top: 7rem;
        padding-left: 5rem;
        padding-bottom: 2rem;
        width: 39rem;
      }
    }
    @media screen and(max-width:568px) {
      .exp__content-wrapper {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        width: 99%;
      }
    }
  }
}

// Beach section

.banner-hero {
  height: 40vh;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-bottom: 2rem;

  .container-fluid {
    width: 100%;
    height: 100%;
  }
  .beach__overlay {
    background: rgba($color: #000000, $alpha: 0.4);
    height: 100%;
    width: 100%;
    @include centerFlex();
    .beach__content {
      color: #fff;

      word-spacing: 0.1rem;
      letter-spacing: 0.08rem;

      h6 {
        margin-bottom: 10px;
        font-family: "industry";
        font-weight: 600;
      }
      h1 {
        font-size: 1.5rem;
        font-family: "industry";
        font-weight: 600;
      }
    }
  }
  @media (min-width: 990px) {
    height: 88vh;

    .beach__overlay {
      display: block;
      padding: 7rem !important;

      .beach__content {
        h6 {
          font-size: 1.1rem;
        }
        h1 {
          font-size: 3.6rem;
        }
      }
    }
  }
}

// Swiper slider
.slider {
  max-height: 70vh;

  swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    margin-bottom: 2rem;
  }
  .swiper-slide {
    height: 380px !important;
    text-align: center;
    font-size: 18px;
    background: #fff;
    @include centerFlex();
    user-select: none;

    .txt-content {
      padding: 2rem;
      text-align: left;
      p {
        text-align: left;
        // line-height: 1.8;
      }
    }
  }
}
.mySwiper {
  .swiper-slide:nth-child(1) {
    background-color: $redColor;
    max-width: 350px;
    color: #fff;
    .arrow-svg {
      display: none;
    }
    @media (max-width: 990px) {
      max-width: inherit !important;
      .arrow-svg {
        display: block;
      }
    }
  }
}
.swiper-wrapper {
  margin-bottom: 2rem;
  user-select: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
  position: static !important;
  @media screen and (max-width: 990px) {
    display: none;
  }
}
.swiper-pagination-bullet {
  width: 1rem !important;
  height: 1rem !important;
}
.swiper-pagination-bullet-active {
  background-color: $redColor !important;
}

// location

#location {
  padding: 4.9rem 0 4rem;
}
.location__right-wrapper {
  padding-bottom: 2rem;

  .location__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .location__big-title {
      h1 {
        font-family: "industry";
        font-weight: 600;
        font-size: 2.1rem;

        span {
          color: $redColor;
        }
      }
      @media screen and (min-width: 768px) {
        max-width: 60%;
        h1 {
          font-size: 2.5rem;
        }
      }
      @media screen and (min-width: 990px) {
        max-width: 40rem;
        h1 {
          font-size: 3.5rem;
        }
      }
    }

    .location__text {
      p {
        font-size: 1rem;
        text-align: left;
      }
      @media screen and(min-width: 768px) {
        width: 60%;
        align-self: flex-end;
      }
    }
  }

  @media (min-width: 768px) {
    padding-left: 5rem !important;
    padding-top: 5rem;
  }
}

// Gellary

#gellary__Slide {
  .contain {
    background-color: $redColor;
    width: 75%;

    .arrow-svg {
      display: none;
    }
    @media screen and(max-width: 990px) {
      width: 100%;

      .col-12 {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .slide__title {
        display: block;
      }
      .arrow-svg {
        display: block;
      }
    }
  }
  .slide__title {
    color: #fff;
    font-family: "industry";
    font-family: 600;
    display: flex;
    gap: 4rem;
    padding: 1.5rem 0 1.5rem 1rem;

    h5 {
      font-weight: 600;
      padding: 0 !important;
      margin: 0 !important;
    }

    p {
      font-weight: 600;
      padding: 0 !important;
      margin: 0 !important;
      letter-spacing: 0.15rem;
      font-size: 0.9rem;
    }

    @media screen and(max-width: 568px) {
      p {
        font-size: 0.8rem;
      }
    }
  }
}

// footer section

footer {
  padding: 5rem 0 0 0;

  .red__logo-wrapper {
    @include centerFlex();
    flex-direction: column;
    .red-logo {
      width: 90%;
      max-width: 450px;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .coming-soon-text {
      color: $redColor;
      border-top: 2px dotted $redColor;
      border-bottom: 2px dotted $redColor;
      font-size: 1.5rem;
      font-family: "industry";
      font-weight: 600;
      letter-spacing: 0.5rem;

      @media screen and (max-width: 578px) {
        font-size: 1rem;
      }
    }
  }

  .sports__info {
    background-color: $redColor;
    padding: 4rem 0;

    .sub-title {
      font-family: "industry";
      font-weight: 600;
      font-size: 1.2rem;
    }
    .sub-title + p {
      font-size: 1.1rem;
    }

    .white-btn {
      background: #fff;
      border-radius: 0 !important;
      padding: 1rem 3rem;
      font-size: 1.2rem;
      font-family: "industry";
      font-weight: 600;
      color: $redColor;
    }
    @media screen and (min-width: 1024px) {
      padding: 8rem 0;
      .sub-title,
      .sub-title + p {
        padding: 0.5rem 0;
        max-width: 30rem;
      }
    }
  }

  .main__footer {
    padding: 5rem 0;
    background-color: #000000;

    .container {
      .sm-logo {
        padding-bottom: 2.1rem;
        max-width: 13.5rem;
      }

      .row {
        @include centerFlex();
      }
      .divider {
        width: 100%;
        height: 0.1px;
        margin: 2.5rem 0;
        background-color: rgb(88, 88, 88);
      }
      .footer-content {
        max-width: 40rem;
        @include centerFlex();
        flex-direction: column;
        .footer-links {
          padding-bottom: 1rem;
          @include centerFlex();
          gap: 3rem;
          flex-wrap: wrap;
          a {
            text-decoration: none;
            color: rgb(88, 88, 88);
            transition: 0.2s ease;
            font-family: sans-serif;
            font-size: 0.8rem;
            letter-spacing: 0.1rem;
            font-weight: 300;
            &:hover {
              color: $redColor;
            }
          }
        }
        p {
          font-size: 0.7rem;
          text-align: center;
          color: rgb(88, 88, 88);
        }
        @media screen and(max-width:768px) {
          max-width: 100%;

          .footer-links {
            gap: 1rem;
          }
        }
      }
    }
    @media screen and(max-width:768px) {
      padding: 3rem 0;

      .divider {
        margin: 2rem 0 !important;
      }
    }
  }
}
